.form-wrapper {
  --ion-color: var(--ion-color-light-contrast);
  margin-top: 20px;
}

.filter-card{
  --ion-color: var(--ion-color-light-contrast);
}

.sidebar-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
    --background: var(--ion-color-light-tint);
}

ion-grid {
  padding: 10px 0;
}


