<ion-card>
  <ion-item>
    <ion-avatar >
      <img src="assets/icon/favicon.png">
    </ion-avatar>
    <ion-title>Location: {{table.location}}</ion-title>
    <ng-container slot="end">
      <ion-badge color="success" *ngIf="!table.reservation; else reserved">Available</ion-badge>
      <ng-template #reserved>
        <ion-badge color="danger">Reserved for {{table.reservation.startDate | date :'HH:mm'}}</ion-badge>
        <ion-icon name="close-outline" class="pointer" (click)="removeReservation()">
        </ion-icon>
      </ng-template>
    </ng-container>
  </ion-item>

  <ion-card-content>
    <b class="larger">{{table.numberOfSits}} sits: </b> 
    <ion-icon *ngFor="let item of sits" name="man-outline"></ion-icon> 
    
  </ion-card-content> 
 
</ion-card>