<!-- <ion-avatar slot="start">
  <img src="./avatar-rey.png">
</ion-avatar> -->
<ion-label>
  <h2>{{table.location}}</h2>
  <p>Number of sits: {{table.numberOfSits}}</p>

  <ion-badge color="success" *ngIf="!table.reservation; else reserved">Free</ion-badge>
  <ng-template #reserved>
    <ion-badge color="danger">Reservation on {{table.reservation.startDate | date :'h:mm a'}}</ion-badge> 
    <ion-icon name="close-outline" class="pointer" (click)="removeReservation()">
    </ion-icon>
  </ng-template>
</ion-label>
