<ng-container [formGroup]="reservationForm">
  <ion-title class="center">Make A reservation</ion-title>
  <ion-item>
    <ion-label>Table</ion-label>
    <ion-select formControlName="tableId">
      <ion-select-option *ngFor="let item of tables$ | async" [value]="item.id">{{item.location}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label>Date</ion-label>
    <ion-datetime formControlName="startDate" displayFormat="MMMM DD HH:mm" [min]="currentDate"></ion-datetime>

  </ion-item>
  <div class="center">
    <ion-button (click)="makeReservation()" color="primary" class="">Reserve</ion-button>

  </div>

</ng-container>

 


