<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Reservation Manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        My Reservation Manager
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list *ngIf="myTables$ | async as myTables">
    <ion-item *ngFor="let table of myTables; let i=index" class="ion-padding-vertical">
      <table-item [table]="table"></table-item>
    </ion-item>
    <ion-item *ngIf="!myTables.length">
      <p class="ion-text-center"> No tables matching your criteria</p>
    </ion-item>

  </ion-list>

 

</ion-content>